TamagotchiService/Windows/Service References/TamagotchiReference/TService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tamservice.azurewebsites.net/TService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" />
  <xs:element name="GetAndOrCreatePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" minOccurs="0" name="player" nillable="true" type="q1:PlayerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAndOrCreatePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" minOccurs="0" name="GetAndOrCreatePlayerResult" nillable="true" type="q2:PlayerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTamagotchi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" minOccurs="0" name="tamagotchi" nillable="true" type="q3:TamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTamagotchiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTamagotchiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" minOccurs="0" name="GetTamagotchiByIdResult" nillable="true" type="q4:TamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiesForPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiesForPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" minOccurs="0" name="GetTamagotchiesForPlayerResult" nillable="true" type="q5:ArrayOfTamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Sleep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SleepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Play">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Workout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Hug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>