TamagotchiService/Windows/Service References/TamagotchiReference/TService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamagotchies" nillable="true" type="tns:ArrayOfTamagotchiContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerContract" nillable="true" type="tns:PlayerContract" />
  <xs:complexType name="ArrayOfTamagotchiContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TamagotchiContract" nillable="true" type="tns:TamagotchiContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTamagotchiContract" nillable="true" type="tns:ArrayOfTamagotchiContract" />
  <xs:complexType name="TamagotchiContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionLocked" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Boredom" type="xs:int" />
      <xs:element minOccurs="0" name="Health" type="xs:int" />
      <xs:element minOccurs="0" name="Hunger" type="xs:int" />
      <xs:element minOccurs="0" name="IsAthlete" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCrazy" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDead" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMunchies" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastAccess" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:PlayerContract" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Sleep" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TamagotchiId" type="xs:int" />
      <xs:element minOccurs="0" name="TamagotchiName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TamagotchiContract" nillable="true" type="tns:TamagotchiContract" />
</xs:schema>