TamagotchiService/Web/Service References/TamagotchiReference/TService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tamservice.azurewebsites.net/TService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tamservice.azurewebsites.net/TService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tamservice.azurewebsites.net/TService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamagotchiService.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITService_GetAndOrCreatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAndOrCreatePlayer" />
  </wsdl:message>
  <wsdl:message name="ITService_GetAndOrCreatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAndOrCreatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ITService_CreateTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITService_CreateTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITService_GetTamagotchiById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiById" />
  </wsdl:message>
  <wsdl:message name="ITService_GetTamagotchiById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITService_GetTamagotchiesForPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiesForPlayer" />
  </wsdl:message>
  <wsdl:message name="ITService_GetTamagotchiesForPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiesForPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ITService_Eat_InputMessage">
    <wsdl:part name="parameters" element="tns:Eat" />
  </wsdl:message>
  <wsdl:message name="ITService_Eat_OutputMessage">
    <wsdl:part name="parameters" element="tns:EatResponse" />
  </wsdl:message>
  <wsdl:message name="ITService_Sleep_InputMessage">
    <wsdl:part name="parameters" element="tns:Sleep" />
  </wsdl:message>
  <wsdl:message name="ITService_Sleep_OutputMessage">
    <wsdl:part name="parameters" element="tns:SleepResponse" />
  </wsdl:message>
  <wsdl:message name="ITService_Play_InputMessage">
    <wsdl:part name="parameters" element="tns:Play" />
  </wsdl:message>
  <wsdl:message name="ITService_Play_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayResponse" />
  </wsdl:message>
  <wsdl:message name="ITService_Workout_InputMessage">
    <wsdl:part name="parameters" element="tns:Workout" />
  </wsdl:message>
  <wsdl:message name="ITService_Workout_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkoutResponse" />
  </wsdl:message>
  <wsdl:message name="ITService_Hug_InputMessage">
    <wsdl:part name="parameters" element="tns:Hug" />
  </wsdl:message>
  <wsdl:message name="ITService_Hug_OutputMessage">
    <wsdl:part name="parameters" element="tns:HugResponse" />
  </wsdl:message>
  <wsdl:portType name="ITService">
    <wsdl:operation name="GetAndOrCreatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/GetAndOrCreatePlayer" message="tns:ITService_GetAndOrCreatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/GetAndOrCreatePlayerResponse" message="tns:ITService_GetAndOrCreatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/CreateTamagotchi" message="tns:ITService_CreateTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/CreateTamagotchiResponse" message="tns:ITService_CreateTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchiById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/GetTamagotchiById" message="tns:ITService_GetTamagotchiById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/GetTamagotchiByIdResponse" message="tns:ITService_GetTamagotchiById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchiesForPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/GetTamagotchiesForPlayer" message="tns:ITService_GetTamagotchiesForPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/GetTamagotchiesForPlayerResponse" message="tns:ITService_GetTamagotchiesForPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/Eat" message="tns:ITService_Eat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/EatResponse" message="tns:ITService_Eat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/Sleep" message="tns:ITService_Sleep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/SleepResponse" message="tns:ITService_Sleep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Play">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/Play" message="tns:ITService_Play_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/PlayResponse" message="tns:ITService_Play_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Workout">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/Workout" message="tns:ITService_Workout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/WorkoutResponse" message="tns:ITService_Workout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hug">
      <wsdl:input wsaw:Action="http://tempuri.org/ITService/Hug" message="tns:ITService_Hug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITService/HugResponse" message="tns:ITService_Hug_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITService" type="tns:ITService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAndOrCreatePlayer">
      <soap:operation soapAction="http://tempuri.org/ITService/GetAndOrCreatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITService/CreateTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchiById">
      <soap:operation soapAction="http://tempuri.org/ITService/GetTamagotchiById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchiesForPlayer">
      <soap:operation soapAction="http://tempuri.org/ITService/GetTamagotchiesForPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eat">
      <soap:operation soapAction="http://tempuri.org/ITService/Eat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <soap:operation soapAction="http://tempuri.org/ITService/Sleep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Play">
      <soap:operation soapAction="http://tempuri.org/ITService/Play" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Workout">
      <soap:operation soapAction="http://tempuri.org/ITService/Workout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hug">
      <soap:operation soapAction="http://tempuri.org/ITService/Hug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITService" type="tns:ITService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAndOrCreatePlayer">
      <soap:operation soapAction="http://tempuri.org/ITService/GetAndOrCreatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITService/CreateTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchiById">
      <soap:operation soapAction="http://tempuri.org/ITService/GetTamagotchiById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchiesForPlayer">
      <soap:operation soapAction="http://tempuri.org/ITService/GetTamagotchiesForPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eat">
      <soap:operation soapAction="http://tempuri.org/ITService/Eat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <soap:operation soapAction="http://tempuri.org/ITService/Sleep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Play">
      <soap:operation soapAction="http://tempuri.org/ITService/Play" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Workout">
      <soap:operation soapAction="http://tempuri.org/ITService/Workout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hug">
      <soap:operation soapAction="http://tempuri.org/ITService/Hug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TService">
    <wsdl:port name="BasicHttpBinding_ITService" binding="tns:BasicHttpBinding_ITService">
      <soap:address location="http://tamservice.azurewebsites.net/TService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITService" binding="tns:BasicHttpsBinding_ITService">
      <soap:address location="https://tamservice.azurewebsites.net/TService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>